* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: white; */
    background-image: url('./images/bgTodo.webp');
}

/* header styling start */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#taskList {
    font-size: 10vh;
    margin-left: -180px;

}

#Additem {
    font-size: 5vh;
    cursor: pointer;
    margin-right: -220px;
}

#list {
    font-family: 'Montserrat', sans-serif;
    color: grey;
}

#abc {
    color: #0010ec;
}

/* header styling end */

body {
    /* background-color: black; */
    color: black;
    margin: 3vh 10vw 0;
}

/* parent  */
#parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: aqua; */
}

#msg {
    font-size: 50px;
    position: absolute;
    top: 120px;
    left: 220px;
    opacity: 0.7;
}

#name{
    text-transform: capitalize;
}
.item {
    background-color: navajowhite;
    height: 300px;
    width: 250px;
    padding-bottom: 50px;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    word-wrap: break-word;
    text-transform: capitalize;
}

.item:hover {
    box-shadow: 1px 1px 20px white;
}

.c2 {
    width: 100%;
    padding: 15px 0 2px;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
    color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

.tasks {
    color: black;
    list-style: none;
    text-align: center;
    line-height: 2;
    font-family: 'Oswald', sans-serif;
}

.close {
    background-color: crimson;
    padding: 6px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    position: absolute;
    right: 25px;
    bottom: 15px;
    /* width: 50px;
    height: 50px; */
    align-items: center;
   
}

.addtask {
    color: #ff008c;
    font-size: 1.785rem;
    cursor: pointer;
    position: absolute;
    right: 75px;
    bottom: 20px;
   
}

.btn {
    color: white;
    background-color: gray;
    border: none;
    padding: 5px;
    border-radius: 15px;
    margin: 5px;
    font-size: 10px;
    font-weight: 400;
    cursor: pointer;
}

.marked {
    color: red;
    text-decoration: line-through;
}

.hide {
    display: none;
}


/* Add item/ Add list popup*/
.new {
    width: 400px;
    height: 200px;
    background-color:grey;
    border-radius: 25px;
    font-weight: 700;
    cursor: default;
    position: absolute;
    top: calc((100vh - 200px) / 2);
    left: calc((100vw - 320px) / 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new p {
    color: darkgray;
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.new input {
    text-align: center;
    width: 240px;
    height: 40px;
    font-size: larger;
    border: 2px solid black;
    border-radius: 25px;
    box-shadow: 1px 1px 4px grey;
    margin-bottom: 10px;
}

.popupWindow button {
    color: rgb(255, 255, 255);
    background-color: darkgray;
    width: 100px;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 8px 10px;
}


/* Item Expanded View */
.popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

.expPop {
    background-color: black;
}

.item_expand_header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0 40px;
}

.expBack {
    font-size: 1.5rem;
    cursor: pointer;
    
}

.itemExpTitle {
    font-size: 2.5rem;
    font-weight: 700;
}

.expAdd {
    font-size: 1.5rem;
    cursor: pointer;
    
}

.content {
    display: flex;
    justify-content: center;
}

.item_Detail {
    background-color : rgb(148, 16, 88);
    width: 200px;
    min-height: 260px;
    padding-bottom: 50px;
    border-radius: 10px;
    position: relative;
}